@*@model IEnumerable<Trupti_Gandhi_WebMobi.Models.Employee>*@
@model PagedList.IPagedList<Trupti_Gandhi_WebMobi.Models.Employee>

<link href="~/Content/PagedList.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
}
@using PagedList.Mvc;
@using PagedList;

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Employee", "Create")
</p>

@using (Html.BeginForm("Index", "Employees", FormMethod.Get))
{
    <p>
        Search Name: @Html.TextBox("Search_Data", ViewBag.FilterValue as string)
        <input type="submit" value="Search" placeholder="search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("First Name", "Index", new { Sorting_Order = ViewBag.SortingName, Filter_Value = ViewBag.FilterValue })
            @*@Html.DisplayNameFor(model => model.FirstName)*@
        </th>
        <th>
            @Html.ActionLink("Last Name", "Index", new { Sorting_Order = ViewBag.SortingName, Filter_Value = ViewBag.FilterValue })
            @* @Html.DisplayNameFor(model => model.First().LastName)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Gender)
        </th>
        <th>
            @Html.ActionLink("Date Of Birth", "Index", new { Sorting_Order = ViewBag.SortingDate, Filter_Value = ViewBag.FilterValue })
            @* @Html.DisplayNameFor(model => model.DateOfBirth)*@
        </th>
        <th>
            Department
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Gender)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateOfBirth)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Departments.DepartmentName)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeID }) |
        @Html.ActionLink("Details", "Details", new { id = item.EmployeeID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeID })
    </td>
</tr>
    }

</table>
<br />

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, Page_No => Url.Action("Index",
    new { Page_No, Sorting_Order = ViewBag.CurrentSortOrder, Filter_Value = ViewBag.FilterValue }))
